/* for login and register */
.role-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 30px;
}

.switch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.small {
    font-size: 1em;
    flex: 1;
    transition:
        flex 0.3s ease,
        font-size 0.3s ease;
}

.large {
    font-size: 1.5em;
    flex: 2;
    transition:
        flex 0.3s ease,
        font-size 0.3s ease;
}

/* for dashboard */
.user-details {
    text-align: center;
    margin: 3px;
}

.user-details Button {
    margin: 5px;
}

.events-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
}

.event-card {
    border: 8px solid #696969;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

/* for event */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
